*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.idea/misc.xml
.idea/modules.xml
.idea/runConfigurations.xml
.idea/vcs.xml
logErrors.txt
logs.txt
/settings/apk/
ExampleInstrumentedTest.kt
ExampleUnitTest.kt
ExampleInstrumentedTest.java
ExampleUnitTest.java
